.add-button {
  display: flex;
  align-items: center; 
  justify-content: center; 
  background-color: #f2c40e; 
  border: none; 
  border-radius: 20px; 
  padding: 8px 28px; 
  cursor: pointer; 
  margin: 8px auto; 
  width: 200px; 
  color: #fff;
  font-weight: 600px;
}

.text-button {
  color: #FFF; 
  font-family: 'Poppins', sans-serif; 
  margin-left: 8px; 
}

.icon {
  margin-right: 8px; 
}
