.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: auto;
    background-color: #ffffff;
    padding: 20px;
    height: 80vh;
  }
  
  .titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #333;
  }
  
  
  input {
    width: 30%;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
  }
  
  .button {
    width: 100%;
    height: 40px;
    background-color: #FF421D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #d93b17;
  }
  
  