.cadastrar-container {
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 60px;
  width: auto;
  display: flex;
  flex-direction: column;
  }
  
  .titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #333;
  }
  
  
  .input-cadastrar {
    height: 40px;
    width: 25%;
    background-color: #ededed;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
  }
  
  .button {
    width: 100%;
    height: 40px;
    background-color: #FF421D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #d93b17;
  }
  
  /* Mobile */

@media (max-width: 1120px) {
  .input-cadastrar{
    width: 300px;
  }
}

@media (max-width: 320px) {
  .input-cadastrar{
    width: 100%;
  }
}
  