.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
    width: 300px;
    cursor: pointer; /* Mudança do cursor para indicar que é clicável */
  }

  @media (max-width: 420px) {
    .card{
      width: 100%; /* Garante que os itens ocupem toda a largura disponível */
    max-width: 250px; /* Define uma largura máxima para os itens */
    margin-bottom: 20px; 
    }
    
  }
  
  .foto-img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
  }
  
  .info-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 0;
  }
  
  .titulo-receita {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 800;
    margin: 10px 0;
    white-space: normal;
    align-self: flex-start;
    max-width: 100%;
    overflow-wrap: break-word; 
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .avaliacao, .tempo, .porcoes{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 13px;
    margin-left: 5px;
  }