.container-criar {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;

  
}
  .titulo-criar {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-weight: 800;
  }
  
  .subtitulo-criar{
    font-family:'Poppins';
    font-weight: 600;
  }
 

  .form-criar-receita {
    display: flex;
  flex-direction: column;
  font-weight: 600;
  font-family: 'Poppins';
  width: 50%;
  margin-top: 10px;
  align-items: center;
  }
  
  .input-criar, .inputDesc, .inputPasso {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
  }
  
  .inputDesc {
    height: 100px;
    font-family: 'Poppins', sans-serif;
  }
  
  .inputPasso {
    height: 60px;
    font-family: 'Poppins', sans-serif;
  }
  
  
  .passoContainer {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
  
  .passoNumero {
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
    font-weight: 600;
  }
  
  .button {
    padding: 10px;
    background-color: #FF421D;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  @media (max-width: 720px){
    .form-criar-receita{
      width: 70%
    }
  }
  