.container-criar {
  
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  padding: 20px;
  
}
  .titulo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .subtitulo-criar{
    font-family:'Poppins';
    font-weight: 600;
  }
 

  .form {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-family: 'Poppins';
  }
  
  .input-criar, .inputDesc, .inputPasso {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
  }
  
  .inputDesc {
    height: 100px;
    font-family: 'Poppins', sans-serif;
  }
  
  .inputPasso {
    height: 60px;
    font-family: 'Poppins', sans-serif;
  }
  
  
  .passoContainer {
    display: flex;
    align-items: flex-start;
  }
  
  .passoNumero {
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
    font-weight: 600;
  }
  
  .button {
    padding: 10px;
    background-color: #FF421D;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  