.container-editar-receita {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  padding: 20px;
  
}
  .titulo-edit-receita {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-weight: 800;
  }
  
  .subtitulo-editar{
    font-family:'Poppins';
    font-weight: 600;
  }
 

  .form-edit-receita {
    display: flex;
  flex-direction: column;
  font-weight: 600;
  font-family: 'Poppins';

  margin-top: 10px;
  align-items: center;
  }

  .input-file-receita{
    width: 100%;
    padding: 10px;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    opacity: 0;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
  }

  .img-preview-receita {
    width: 50%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .input-criar, .inputDesc, .inputPasso {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background-color: #fff;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
  }
  
  .inputDesc {
    height: 100px;
    font-family: 'Poppins', sans-serif;
  }
  
  .inputPasso {
    height: 60px;
    font-family: 'Poppins', sans-serif;
  }
  
  
  .passoContainer {
    display: flex;
    align-items: flex-start;
  }
  
  .passoNumero {
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
    font-weight: 600;
  }
  

  