   .input {
    height: 40px;
    width: 100%;
    background-color: #ededed;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
  }

  .container-editar-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    padding: 20px;
    }

    
  
  .form {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-family: 'Poppins';
    width: 100%;
    margin-top: 10px;
    align-items: center;
  }
  
  .titulo-editar-user {
    font-size: 25px;
    text-align: left;
    margin: 0;
    font-family: 'Poppins';
    font-weight: 800;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    .container-editar-user {
      
      width: 100%; 
      margin: 60px auto; 
    }
    
  }
  