.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #ffffff;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    gap: 25px;
  }

  .navbar-footer{
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-list-footer {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
  }