.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  height: 300px;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  gap: 25px;
  background-color: rgb(255, 255, 255);
}

.navbar-footer {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 700px;
}

.nav-list-footer {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 15px;
}

@media (max-width: 900px) {
  .footer {
      flex-direction: column;
      text-align: center;
      height: 400px;
  }

  .navbar-footer {
      flex-direction: column;
      gap: 20px;
  }

  .nav-list-footer {
      flex-direction: column;
      gap: 10px;
  }
}
