.forgot-password-p{
    font-size: 13px;
    text-align: center;
    color: rgb(68, 68, 68);
}

.input{
    border: none;
    font-size: 13px;
    font-family: 'Poppins';
    font-weight: 600;
    background-color: #ffffff;
}

.forgotContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    padding: 20px;
}