

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 24px;
    font-weight: 800;
    font-family: 'Poppins';
    color: #333;
    margin-right: 20px;
  }

  .tituloHeader{
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    color: #333;
  }

  .logo{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
  
  .logo a {
    text-decoration: none;
    color: inherit;
  }
  
  .menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
  }
  
  .nav-item a:hover {
    color: #ff1b1b;
    transform: scale(2);
    transition: 0.5s;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  
    .nav {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .nav.open {
      display: flex;
    }
  
    .nav-list {
      flex-direction: column;
      width: 100%;
    }
  
    .nav-item {
      margin-left: 0;
      margin-bottom: 10px;
      width: 100%;
      text-align: center;
    }
  }