.container-home {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  padding: 20px;
 
  }
  
  .containerSplash {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }


  .container-splash img {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    animation: bounce 3s infinite;
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px); /* Ajuste a altura do movimento conforme necessário */
    }
  }
  .containerSplash p{
    margin: 10px;
    text-align: center;
  }

  .titulo-home {
    font-family: 'Poppins';
    font-size: 30px;
    margin-top: 40px;
    font-weight: 800;
    align-self: center;
  }

  .containerLoading{
    width: 100px;
    height: 100px;
  }
  
  .tituloFav {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    align-self: center;
  }
  
@media (max-width: 420px) {
  .container-home{
    width: 100%;
    
  }
}
  

@media (max-width: 300px) {
  .container-home{
    width: 100%;
   
  }
}