* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}


.LpContainer {

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 0px 20px;
  background-color: white;
  color: #333;


}

.phone {
  width: 500px;
}

.phone:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 5vh;
  padding: 40px;
  width: 500px;
  color: rgb(250, 250, 250);
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
}

.inicial {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.subtitle-about {
  margin: 10px;
  font-weight: 600;
}

.titlesContainer {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 30px;
  height: 50vh;
  max-width: 78vh;
  align-items: center;
  justify-content: center;


}

.title-sobre{
  align-self: center;
}

.imageContainer {
  width: 50%;
  height: 100%;
  background-image: url('../img/chef1.png');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.title-lp {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  margin: 7px;



}

.subtitle-lp {
  text-align: center;
  margin: 7px;
  padding: 0;
  font-size: 17px;
  color: #424242;
}

.profile-image-lp {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
  object-fit: cover;
  background-size: cover;
}

.ratingCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratingsContainer{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 800px;
}





@media (max-width: 450px) {
  .buttons {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 660px) {
  .ratingCard{
    flex-direction: column;
    width: 300px;
    text-align: center;
  }
  .ratingsContainer{
    gap: 20px
  }
  .aboutContainer{
    width: 280px;
  }
}

@media (min-width: 900px) {
  .titlesContainer {
    margin-right: 80px;
  }

  .buttons {
    gap: 80px;
    display: flex;
  }
}

@media (max-width: 700px) {
  .imageContainer {
    display: none;
  }
}

@media (min-width: 700px) {
  .imageContainer {
    width: 100%;
    background-size: 100%;
  }
}

@media (min-width: 1000px) {
  .imageContainer{
    width: 60%;
    background-size: 60%;
  }
}