.custom-button {
    background-color: #ff421d; 
    border: none; 
    border-radius: 20px; 
    padding: 8px 28px; 
    width: 160px; 
    margin: 8px auto; 
    color: #fff; 
    text-align: center; 
    font-family: 'Poppins', sans-serif; 
    cursor: pointer; 
    font-weight: 600;
  }
  
  .custom-button:hover {
    opacity: 0.8; 
  }
  